<div class="footers">
        <div class="foot">
          <div class="my-image">
            <img class="myimg25" src="./profile_pic-25.png" />
          </div>
          <div class="one-footer">
            <div class="name25"><span>MD Owais Khan</span></div>
            <div class="footer-text1">Front End Developer</div>
            <div class="insta-img">
              <a href="https://x.com/md__ovais"
                ><img
                  class="pic"
                  src="https://framerusercontent.com/images/gtzDysUq73PcIFESNRa0djSYuTY.svg"
              /></a>
              <a href="https://www.instagram.com/dev.ovais/"
                ><img
                  class="pic"
                  src="https://framerusercontent.com/images/ujvuU7oTba4qXKvJvQc31MlqqBk.svg"
              /></a>
              <a href="https://www.linkedin.com/in/mdovais/"
                ><img
                  class="pic"
                  src="https://framerusercontent.com/images/OG6uWRwgqMiEnNaFAm9SO03F0.svg"
              /></a>
            </div>
          </div>



          <div class="two-footer">
            <div class="name25">Explore</div>
            <div class="footer-text">
              <a href="./about.html">About Me</a>
            </div>
            <div class="footer-text">
              <a href="./work.html">My Works</a>
            </div>
            <div class="footer-text">
              <a href="./contact.html">Contact</a>
            </div>
          </div>

          <div class="two-footer">
            <div class="name25">Show Support!</div>
            <div class="footer-text">
              <a href="https://www.instagram.com/dev.ovais/">Instagram</a>
            </div>
            <div class="footer-text">
              <a href="https://www.linkedin.com/in/mdovais/">LinkdIn</a>
            </div>
            <div class="footer-text">
              <a href="https://github.com/mdovais">GitHub</a>
            </div>
          </div>
        </div>
        <a href="./contact.html">
          <div class="four-footer">
            Contact Me
            <img
              class="pic2"
              src="https://img.icons8.com/?size=128&id=71028&format=png"
            />
          </div>
        </a>
      </div>
      <div class="last">
        <div class="myName">
          <img class="pic3" src="./my-MD Owais Khan.png" />
        </div>
      </div>
      <div class="fixfooter">
        <div class="fixed-bottom">
          <img
            class="pic4"
            src="https://img.icons8.com/?size=80&id=nj0Uj45LGUYh&format=png"
          />